{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You can't join Global Entry
      </h1>

    <p>You can only register to apply for Global Entry if it says ‘British citizen’ in the nationality section of your passport.</p>

    <p>You can still enter the US using normal channels.</p>

    <a href="http://www.gov.uk" class="button" role="button">Exit to GOV.UK </a>

    </div>
  </div>
</main>
{% endblock %}
