// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }
  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

a[rel="external"]:after {
    content: "\A0\A0\A0\A0";
    background-position: right 6px;
}
a[rel="external"]:after {
    background-image: url(/public/images/external-link.png);
    background-repeat: no-repeat;
}
.tc-bullet-heading {
    font-weight: 700;
    margin-left: -1.1em;
    margin-top: 1em;
}
.visa {
    background-image: url(/public/images/visa-2x.png);
}
.mastercard {
    background-image: url(/public/images/mastercard-2x.png);
}
.maestro {
    background-image: url(/public/images/maestro-2x.png);
}
.japan {
    background-image: url(/public/images/jcb-2x.png);
}
.amex {
    background-image: url(/public/images/amex-2x.png);
    height: 2.2em;
}
.card {
    float: left;
    width: 52px;
    height: 33px;
    margin: -5px 10px 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
#global-header .header-proposition a.menu {display: none}

@media (min-width: 641px) {
.form.payment .form-date p {margin-bottom: 10px}
}
.form.payment .form-date p {margin-bottom: 7px}

.form.payment p.paymentp {margin-bottom: 3px}

@media (min-width: 641px){
.form-control.percent100 {width: 100%}
.form-control.percent75 {width: 75%}
.form-control.percent25 {width: 25%}
.form-control.percent15 {width: 15%}
}

.gaptop {margin-top: 10px}
.form.payment .form-control {border-color: #B7B9BB}

.form-group .generic-cvc {
    float: left;
    max-height: 38px;
    position: relative;
    top: -1px;
    margin-right: 15px;
    float: left;
}

.form-group .cvc {
    float: left;
    margin-right: 15px;
}

.form-control.cvc {width: 15%}

@media (max-width: 640px){
.form-control.cvc {width: 40%}
}

form.payment .form-date .form-group-seperator {width: 20px;}
form.payment .form-group.form-group-seperator  {margin-right: 0;}
form.payment .form-group-seperator p {margin: 30px 0 0 0; font-size: 27px; color: #6f777b;}
@media (max-width: 640px){
form.payment .form-group-seperator p {margin: 25px 0 0 0}
}

form.payment .form-group.form-group-year  {margin-right: 10px;}
p.withdrawal-text {margin-bottom:0}

.accepted-cards {
  margin: 15px 0 10px;
  padding: 0;
  display: block;
  float: none;
  overflow: hidden;
}

.accepted-cards li {
  display: block;
  float: left;
  width: 50px;
  height: 34px;
  background-size: 100%;
  margin-right: 5px;
}

.accepted-cards li.american-express {
  background-image: url("/public/images/payment/american-express-bw.png");
}

.accepted-cards.field-empty li.american-express,
.accepted-cards li.american-express.selected {
  background-image: url("/public/images/payment/american-express-color.png");
}

.accepted-cards li.diners-club {
  background-image: url("/public/images/payment/diners-club-bw.png");
}

.accepted-cards.field-empty li.diners-club,
.accepted-cards li.diners-club.selected {
  background-image: url("/public/images/payment/diners-club-color.png");
}

.accepted-cards li.discover {
  background-image: url("/public/images/payment/discover-bw.png");
}

.accepted-cards.field-empty li.discover,
.accepted-cards li.discover.selected {
  background-image: url("/public/images/payment/discover-color.png");
}

.accepted-cards li.jcb {
  background-image: url("/public/images/payment/jcb-bw.png");
}

.accepted-cards.field-empty li.jcb,
.accepted-cards li.jcb.selected {
  background-image: url("/public/images/payment/jcb-color.png");
}

.accepted-cards li.master-card {
  background-image: url("/public/images/payment/master-card-bw.png");
}

.accepted-cards.field-empty li.master-card,
.accepted-cards li.master-card.selected {
  background-image: url("/public/images/payment/master-card-color.png");
}

.accepted-cards li.visa {
  background-image: url("/public/images/payment/visa-bw.png");
}

.accepted-cards.field-empty li.visa,
.accepted-cards li.visa.selected {
  background-image: url("/public/images/payment/visa-color.png");
}

.accepted-cards li.unionpay {
  background-image: url("/public/images/payment/unionpay-bw.png");
}

.accepted-cards.field-empty li.unionpay,
.accepted-cards li.unionpay.selected {
  background-image: url("/public/images/payment/unionpay-color.png");
}



.payment-summary {
  clear: both;
  margin: 30px 15px;
}

.payment-summary .inner {
  background-color: #f8f8f8;
  border: 10px solid #bfc1c3;
  padding: 15px;
}

@media (min-width: 641px) {
  .payment-summary .inner {
    width: 200px;
  }
}

@media (min-width: 769px) {
  .payment-summary .inner {
    width: 250px;
  }
}

.payment-summary .inner h2 {
  padding-bottom: 0;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment-summary .inner p {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 640px) {
  .payment-summary .inner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.payment-summary .inner p .amount {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-transform: none;
  display: block;
}

@media (max-width: 640px) {
  .payment-summary .inner p .amount {
    font-size: 24px;
    line-height: 1.0416666667;
  }
}

.payment-summary .inner p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 641px) {
  .payment-summary {
    margin: 0;
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
  }
}

@media (min-width: 769px) {
  .payment-summary {
    width: 300px;
  }
}

@media (min-width: false) {
  .content-fixed {
    position: fixed;
    top: 30px;
  }
}

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.7894736842em;
  margin-bottom: 0.7894736842em;
}

.panel :first-child {
  margin-top: 0;
}

.panel :only-child,
.panel :last-child {
  margin-bottom: 0;
}
.content-wrapper {position: relative;}

p span#payment-description {font-weight: 700}

h2.payment-sub {margin: 30px 0 10px}

.notice .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
}

.icon-important {
    width: 35px;
    height: 35px;
    background-image: url(/public/images/icon-important.png);
}

.icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
}
p.more-margin, .more-margin {margin-top: 30px}
p.more-margin_x2, .more-margin_x2 {margin-top: 40px}
