{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

  <form action="/faster-entry/apply/convictions" method="post" class="form">

    <h1 class="heading-medium">Which service do you want to apply for?</h2>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">
              Which service do you want to apply for?
            </legend>

            <div class="multiple-choice">
              <input id="global" type="radio" name="service" value="Global Entry" {{ checked('service','Global Entry') }}>
              <label for="global">Global Entry (USA)</label>
            </div>
            <div class="multiple-choice">
              <input id="Nexus" type="radio" name="service" value="Nexus" {{ checked('service','Nexus') }}>
              <label for="Nexus">Nexus (Canada and USA)</label>
            </div>

          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
