{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="javascript:history.go(-1)">Back</a>
      <h1 class="heading-large">
          Declaration
        </h1>
      <p>[Nexus content]</p>
      <p>[Nexus content]</p>
      <p>[Nexus content]</p>
    <div class="form-group"></div>
        <div id="declaration-group" class="form-group">
          <div class="multiple-choice">
            <input id="declaration" type="checkbox" name="declaration" value="true">
            <label for="declaration">I understand and agree with the above declarations</label>
          </div>
        </div>
        <a class="button" href="payment-card-selection" id="continuebutton">Confirm</a>
      </div>
</div>

</main>



{% endblock %}
