{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

  <form action="passport-expiry" method="post" class="form">

    <h1 class="heading-medium">
        What is your passport number?
      </h1>

      <form action="passport-expiry" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <input type="text" class="form-control" id="passport-number" name="passportnumber" autocomplete="off" value="{{passportnumber}}">

          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
