{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

  <form action="restrictions" method="get" class="form">

    <h1 class="heading-medium">Have you ever been refused or had restrictions imposed on your travel from, or back into, the UK?</h2>
        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Have you ever been refused or had restrictions imposed on your travel from, or back into, the UK?</legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="restrictions" value="Yes" {{ checked('restrictions','Yes') }}>
              <label for="yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="no" type="radio" name="restrictions" value="No" {{ checked('restrictions','No') }}>
              <label for="no">No</label>
            </div>

          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
