{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block service_name %}
    Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

  <form action="/convictions-more_nexus" method="get" class="form">

    <h1 class="heading-medium">Have you had more than 1 conviction (including police cautions and spent convictions)?</h2>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Have you had more than 1 conviction (including police cautions and spent convictions)?</legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="convictionsmore" value="Yes" {{ checked('convictionsmore','Yes') }}>
              <label for="yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="no" type="radio" name="convictionsmore" value="No" {{ checked('convictionsmore','No') }}>
              <label for="no">No</label>
            </div>

          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
