{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block service_name %}
    Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

  <form action="gender" method="post" class="form">

    <h1 class="heading-medium">
        What is your date of birth as it is written in your passport?
      </h1>
        <div class="form-group">
          <fieldset>
            <div class="form-date">
              <p>For example, 25 3 1979</p>
              <div class="form-group form-group-day">
                <label for="exp-day">Day</label>
                <input class="form-control" autocomplete="off" id="exp-day" type="number" pattern="[0-9]*" min="0" max="31" name="dobday" value="{{dobday}}">
              </div>
              <div class="form-group form-group-month">
                <label for="exp-month">Month</label>
                <input class="form-control" autocomplete="off" id="exp-month" type="number" pattern="[0-9]*" min="0" max="12" name="dobmonth" value="{{dobmonth}}">
              </div>
              <div class="form-group form-group-year">
                <label for="exp-year">Year</label>
                <input class="form-control" autocomplete="off" id="exp-year" type="number" pattern="[0-9]*" min="0" max="2054" name="dobyear" value="{{dobyear}}">
              </div>
            </div>
          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>
</main>
{% endblock %}
