{% extends "layout.html" %}

{% block page_title %}
  Apply for faster entry to the USA and Canada
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You can't join Nexus
      </h1>

    <p>You can’t register to apply for Nexus if you have a criminal conviction or police caution in the last 10 years or have had more than one conviction or caution at any time. This includes spent convictions.</p>

    <a href="http://www.gov.uk" class="button" role="button">Exit to GOV.UK </a>

    </div>
  </div>
</main>
{% endblock %}
