

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!--><html lang=""><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Confirm your details.
</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.13.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="/public/stylesheets/govuk-template-print.css?0.13.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/public/stylesheets/fonts-ie8.css?0.13.0"]},
       c="/public/javascripts/vendor/goog/webfont-debug.js?0.13.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="/public/stylesheets/fonts.css?0.13.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="/public/javascripts/ie.js?0.13.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/public/images/favicon.ico?0.13.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.13.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.13.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.13.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.13.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.13.0">

  <link href="/stylesheets/application.bcba7314cf8dcbce14c8db6f223b2ff1.css" media="screen" rel="stylesheet" type="text/css" />
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown.png?0.13.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>
  <div class="header-proposition">
      <div class="content">
          <nav id="proposition-menu">
              <span id="proposition-name"></span>
          </nav>
      </div>
  </div>
      </div>
    </header>
    <!--end header-->



    <div id="global-header-bar"></div>
    <!--end global-header-bar-->


<main id="content" role="main" class="content-wrapper confirm-page">

    <h1 class="form-title">Confirm your payment</h1>


    <table class="confirm-details">
        <tr>
            <td>Card number:</td>
            <td id="card-number" class="details">************1111</td>
        </tr>
        <tr>
            <td>Card brand:</td>
            <td id="card-brand" class="details">Visa</td>
        </tr>
        <tr>
            <td>Expiry date:</td>
            <td id="expiry-date" class="details">07/17</td>
        </tr>
        <tr>
            <td>Name on card:</td>
            <td id="cardholder-name" class="details">ggdlqkwhgdl</td>
        </tr>
        <tr>
            <td>Billing address:</td>
            <td id="address" class="details">100, London, se1 7xb, United Kingdom</td>
        </tr>
        <tr>
            <td>Payment for:</td>
            <td id="payment-description" class="details">Register to Apply for US Global Entry application</td>
        </tr>
        <tr>
            <td>Total amount:</td>
            <td id="amount" class="details">£42.00</td>
        </tr>
        <tr>
            <td>Confirmation email:</td>
            <td id="email" class="details">tim@aol.com</td>
        </tr>
    </table>

    <form id="confirmation" method="POST" action="/card_details/68pnsaa7tt15abfcaclgcb06dm/confirm" class="form">
        <input id="csrf" name="csrfToken" type="hidden" value="uyZ2VEsC-7rVTnTWwpfbaYk_KLirhpY78JZM" />
        <input id="chargeId" name="chargeId" type="hidden" value="68pnsaa7tt15abfcaclgcb06dm" />
        <button id="confirm" class="button">Confirm payment</button>
    </form>
    <form id="cancel" name="cancel" method="POST" action="/card_details/68pnsaa7tt15abfcaclgcb06dm/cancel" class="form">
        <div>
            <input id="cancel-payment" type="submit" class="link" value="Cancel payment" name="cancel">
            <input id="csrf2" name="csrfToken" type="hidden" value="uyZ2VEsC-7rVTnTWwpfbaYk_KLirhpY78JZM" />
        </div>
    </form>

</main>

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">
<ul><li><a href="/privacy">Privacy policy</a></li></ul>

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>

  <!-- Javascript -->
  <script type="text/javascript">
    var i18n = {
	"chargeController": {
    "withdrawalText": {
     "debit_credit" : "accepted credit and debit card types",
     "debit" : "Credit card payments are not accepted. Please use a debit card."
   },
   "fieldErrors": {
     "missing": "is missing",
     "invalid": "is invalid",
     "fields": {
       "cardholderName": {
         "name": "name",
         "message": "Enter the name on the card"
       },
       "cardNo": {
         "name": "card number",
         "message": "Please enter a valid card number",
         "number_incorrect_length": "Card number is not the correct length",
         "luhn_invalid":"Enter a valid card number",
         "card_not_supported": "This card type is not accepted",
         "non_numeric": " Enter a valid card number"
       },
       "cvc": {
         "name": "card security code",
         "message": "Enter a card security code",
         "invalid_length": "Enter a valid card security code"
       },
       "expiryDate": {
         "name": "expiry date",
         "message": "Please enter a valid expiry date"
       },
       "expiryMonth": {
         "name": "expiry date",
         "message": "Enter a valid expiry date",
         "invalid_month":"Enter a valid expiry date",
         "invalid_year":"Enter a valid expiry date",
         "in_the_past": "Enter an expiry date in the future"
       },
       "expiryYear": {
         "name": "expiry year",
         "message": "Enter a valid expiry date",
         "invalid_year":"Expiry year is not a valid year"
       },
       "addressLine1": {
         "name": "building name/number and street",
         "message": "Enter a billing address"
       },
       "addressCity": {
         "name": "town/city",
         "message": "Enter a Town/City"
       },
       "addressPostcode": {
         "name": "postcode",
         "message": "Enter a valid postcode"
       },
       "email": {
         "name": "email",
         "message": "Enter a valid email"
       },
       "addressCountry": {
           "name": "country",
           "message": "Enter a valid country"
       }
     }
   }
 },

  "chargeView": {
    "expiry" : "Expiry date",
    "cvc": "Card security code",
    "cardNo": "Card number",
    "cardholderName": "Name on card",
    "building": "Building number or name and street",
    "city": "Town or city",
    "postcode": "Postcode",
    "country": "Country",
    "email": "Email",
    "cvcTip": "The last 3 digits on the back of the card",
    "amexcvcTip": "The last 4 digits after the card number on the front",
    "amexcvcNonjs": "For American Express,"
  }

}
;
  </script>
  <script src="/javascripts/application.8b16095fd565120b8eea159ec91f338d.js"></script>
  <script type="text/javascript">
    $(function(){
      GOVUK.stickAtTopWhenScrolling.init();
      if ($('main').hasClass('charge-new')) {
        $( document ).ready(function() {
          window.Card = { allowed: {} };
          formValidation();
          showCardType().init();
          confirmInput();
        });
      } else if ($('main').hasClass('confirm-page')) {
        $( document ).ready(function() {
          analyticsTrackConfirmClick().init('HO-GO', 'test', 'sandbox', '/card_details/68pnsaa7tt15abfcaclgcb06dm/success');
        });
      }
    });
  </script>
  </body>
</html>
