{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium">Faster entry to the USA and Canada prototypes</h2>

			<ul class="list list-bullet">
				<li><a href="/faster-entry/start-pages/start1">Detailed start pages and journey</li>
        <li><a href="/faster-entry/start-page/start">Stripped down start page and journey</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
